<form method="post" action="{{ path('app_mouvement_stock_delete', {'id': mouvement_stock.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ?');"
      style="display:inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mouvement_stock.id) }}">
    <button class="btn btn-sm btn-danger">Supprimer</button>
</form>
